<h1>Movies</h1>

<ul>
<% @movies.each do |m| %>
   <li> 
   <strong><%= m.title %></strong> (<%= m.rating %>):
   <%= total_grossy(m) %>
   </li>
   <p>
   <%= truncate(m.description, length: 40, seperator: '') %>
   </p>
   <p>
   <%= year_of(m) %>
   </p>
   <% end %>
</ul>